{% load i18n sizeformat %}

<h3>{% trans "Appliance Overview" %}</h3>

<div class="info detail">
  <dl>
    <dt>{% trans "Name" %}</dt>
    <dd>{{ appliance.name|default:"None" }}</dd>
    <dt>{% trans "ID" %}</dt>
    <dd>{{ appliance.id|default:"None" }}</dd>
    <dt>{% trans "Project ID" %}</dt>
    <dd>{{ appliance.tenant_id|default:"-" }}</dd>
    <dt>{% trans "Security Group" %}</dt>
    <dd>{{ appliance.security_group_id|default:"Unknown" }}</dd>
    <dt>{% trans "Category" %}</dt>
    <dd>{{ appliance.category_id|default:"Unknown" }}</dd>
  </dl>
</div>
