{% load i18n sizeformat %}
{% load url from future %}
<h3>{% trans "Appliance Overview" %}</h3>

<div class="info row-fluid detail">
  <h4>{% trans "Appliance" %}</h4>
  <hr class="header_rule">
  <dl>
    <dt>{% trans "Name" %} : </dt>
    <dd>{{ appliance.name|default:"None" }}</dd>
    <dt>{% trans "ID" %}</dt>
    <dd>{{ appliance.id|default:"None" }}</dd>
    <dt>{% trans "Category" %} : {{ appliance.category.name|default:"None" }}</dt>
    <dd>UUID : {{ appliance.category.id|default:"None" }}</dd>
    <dt>{% trans "Vendor" %} : {{ appliance.vendor.name|default:"None" }}</dt>
    <dd>UUID : {{ appliance.vendor.id|default:"None" }}</dd>
      
  </dl>
</div>

<div class="specs row-fluid detail">
  <h4>{% trans "Flavor Details" %}</h4>
  <hr class="header_rule">
  <dl>
    <dt>{% trans "Id" %}</dt>
    <dd>{{ appliance.full_flavor.id }}</dd>
    <dt>{% trans "Flavor" %}</dt>
    <dd>{{ appliance.full_flavor.name }}</dd>
    <dt>{% trans "RAM" %}</dt>
    <dd>{{ appliance.full_flavor.ram|mbformat }}</dd>
    <dt>{% trans "VCPUs" %}</dt>
    <dd>{{ appliance.full_flavor.vcpus }} {% trans "VCPU" %}</dd>
    <dt>{% trans "Disk" %}</dt>
    <dd>{{ appliance.full_flavor.disk }}{% trans "GB" %}</dd>
  </dl>
</div>

<div class="specs row-fluid detail">
  <h4>{% trans "Security Group" %}</h4>
  <hr class="header_rule">
  <dl>
    <dt>{% trans "Id" %}</dt>
    <dd>{{ appliance.security_group.id }}</dd>
    <dt>{% trans "Name" %}</dt>
    <dd>{{ appliance.security_group.name }}</dd>
    
  </dl>
</div>

<div class="specs row-fluid detail">
  <h4>{% trans "Glance Image" %}</h4>
  <hr class="header_rule">
  <dl>
    <dt>{% trans "Id" %}</dt>
    <dd>{{ appliance.glance_image.id }}</dd>
    {% url 'horizon:project:images:images:detail' appliance.glance_image.id as image_url %}
    <dt>{% trans "Name" %}</dt>
    <dd><a href="{{ image_url }}">{{ appliance.glance_image.name }}</a></dd>
    
  </dl>
</div>
