{% load i18n sizeformat %}

<h3>{% trans "Chain Overview" %}</h3>

<div class="info detail">
  <dl>
    <dt>{% trans "Name" %}</dt>
    <dd>{{ appliance_map.name|default:"None" }}</dd>
    <dt>{% trans "ID" %}</dt>
    <dd>{{ appliance_map.id|default:"None" }}</dd>
    <dt>{% trans "Image" %}</dt>
    <dd>{{ appliance_map.appliance_id|default:"None" }}</dd>
    <dt>{% trans "Image UUID" %}</dt>
    <dd>{{ appliance_map.appliance_id|default:"None" }}</dd>
    <dt>{% trans "Sequence Number" %}</dt>
    <dd>{{ appliance_map.sequence_number|default:"None" }}</dd>
  </dl>
</div>
