{% load i18n sizeformat %}
{% load url from future %}

<h3>{% trans "Rule Overview" %}</h3>

<div class="info row detail">
  <h4>{% trans "Rule" %}</h4>
  <hr class="header_rule">
  <dl>
    <dt>{% trans "ID" %}</dt>
    <dd>{{ rule.id|default:_("None") }}</dd>
    <dt>{% trans "Name" %}</dt>
    <dd>{{ rule.name|default:_("None") }}</dd>
    <dt>{% trans "Chain Set ID" %}</dt>
    <dd>{{ chainset_id|default:_("None") }}</dd>
    <dt>{% trans "Protocol" %}</dt>
    <dd>{{ rule.ip_protocol|default:_("None") }}</dd>
  </dl>
  <hr class="header_rule">
  <table border="1" cellpadding="1" cellspacing="2" width="100%">
    <tr><td width="25%"><h4>{% trans "Ethernet Type" %}</h4></td><td width="25%">{{ rule.eth_type|default:_("-") }}</td><td width="25%"><h4>{% trans "Ethernet Value" %}</h4></td><td width="25%">{{ rule.eth_value|default:_("-") }}</td></tr>
    <tr><td width="25%"><h4>{% trans "Source MAC Address Type" %}</h4></td><td width="25%">{{ rule.src_mac_type|default:_("-") }}</td><td width="25%"><h4>{% trans "Destination MAC Address Type" %}</h4></td><td width="25%">{{ rule.dest_mac_type|default:_("-") }}</td></tr>
    <tr><td width="25%"><h4>{% trans "Source MAC Address" %}</h4></td><td width="25%">{{ rule.src_mac|default:_("-") }}</td><td width="25%"><h4>{% trans "Destination MAC Address" %}</h4></td><td width="25%">{{ rule.dest_mac|default:_("-") }}</td></tr>
    <tr><td width="25%"><h4>{% trans "Source IP Type" %}</h4></td><td width="25%">{{ rule.sip_type|default:_("-") }}</td><td width="25%"><h4>{% trans "Destination IP Type" %}</h4></td><td width="25%">{{ rule.dip_type|default:_("-") }}</td></tr>
    <tr><td width="25%"><h4>{% trans "Source IP Start" %}</h4></td><td width="25%">{{ rule.sip_start|default:_("-") }}</td><td width="25%"><h4>{% trans "Source IP End" %}</h4></td><td width="25%">{{ rule.sip_end|default:_("-") }}</td></tr>
    <tr><td width="25%"><h4>{% trans "Destination IP Start" %}</h4></td><td width="25%">{{ rule.dip_start|default:_("-") }}</td><td width="25%"><h4>{% trans "Destination IP End" %}</h4></td><td width="25%">{{ rule.dip_end|default:_("-") }}</td></tr>
    <tr><td width="25%"><h4>{% trans "Source Port Start" %}</h4></td><td width="25%">{{ rule.sp_start|default:_("-") }}</td><td width="25%"><h4>{% trans "Source Port End" %}</h4></td><td width="25%">{{ rule.sp_end|default:_("-") }}</td></tr>
    <tr><td width="25%"><h4>{% trans "Destination Port Start" %}</h4></td><td width="25%">{{ rule.dp_start|default:_("-") }}</td><td width="25%"><h4>{% trans "Destination Port End" %}</h4></td><td width="25%">{{ rule.dp_end|default:_("-") }}</td></tr>
  </table>
</div>
