{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}
{% block form_id %}launch_chainrule_form{% endblock %}
{% block form_action %}{% url 'horizon:project:chainsets:launch' chainset_id rule_id %}{% endblock %}

{% block modal-header %}{% trans "Launch Chain Rule" %}{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <p>{% trans "Are you really want to Launch Chain?" %}</p>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Ok" %}" />
  <a href="{% url 'horizon:project:chainsets:detail' chainset_id %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
